{{ $tags := slice }}
{{ range .Page.CurrentSection.Pages }}
  {{ range .Params.tags }}
    {{ $tags = $tags | append . }}
  {{ end }}
  {{ range .Pages }}
    {{ range .Params.tags }}
      {{ $tags = $tags | append . }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $tags = $tags | uniq | sort }}
{{ if $tags }}
<details>
<summary>Tags ({{ len $tags }})</summary>
<div class="section-tags">
{{ range $tags }}<a href="{{ "tags/" | absURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}
</div>
</details>
{{ end }}
